body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
    text-align: center;
    margin: auto;
}

.paginator {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.paginator_item {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 12px;
    background: #A287E7;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paginator_item:hover {
    background: #8A6ED5;
}

.paginator_active,
.paginator_active:hover {
    background: #cccccc;
}

pre {
    margin-top: 30px;
    background: #EEEEEE;
    padding: 10px;
}